*{
    margin: 0px;
    padding: 0px;
}
div{
    border: 1px solid black;
    margin: 20px;
}
#move{
    height: 290px;
    margin: 0px;
    background-color: #83bfff;
}

#body{
    height: 1000px;
}

#left{
    width: 55%;
    height: 90%;
    float: left;
}
#right{
    width: 31%;
    height: 90%;
    float: right;
    margin-right: 5%;
}
#header{
    margin: 50px 60px 30px;
}
a{
    text-decoration: none;
}
#cen{
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: white;
    margin: 0px 400px 24px;
}
#menu{
    border: none;
    text-align: center;
}
.em-wider{
    letter-spacing: 0.6em;
}
#h1{
    width: 20%;
    height: 90%;
    float: left;
}
#lm{
    width: 20% 40%;
    height: 90%;
    float: left;
}
#cm{
    width: 40% 60%;
    height: 90%;
    float: left;
}
#rm{
    width: 60% 80%;
    height: 90%;
    float: left;
}
